management:
# ??? ??
  endpoint:
    health:
      enabled: true
      cache:
        time-to-live: 1d
#      show-components: always
      show-details: always
    beans:
      enabled: true
      cache:
        time-to-live: 1d
    caches:
      enabled: true
      cache:
        time-to-live: 2s
    heapdump:
      enabled: true
      cache:
        time-to-live: 10s
# ?? ?? ??
  endpoints:
    web:
      exposure:
        include: "*"
        exclude:
#         `include`?? ?? ?? ??
#          - health
#          - beans
      cors:
        allowed-origins: http://sample1.com, http://sample2.com