management:
# ??? ??
  endpoint:
    health:
      enabled: true
      cache:
        time-to-live: 1d
#      show-components: always
      show-details: always
    beans:
      enabled: true
      cache:
        time-to-live: 1d
    caches:
      enabled: true
      cache:
        time-to-live: 2s
    heapdump:
      enabled: true
      cache:
        time-to-live: 10s
    env:
#     properties value? ????? "*****" ?? ??? ??. ?? ??? ??? ??
      show-values: always
  # ?? ?? ??
  endpoints:
    web:
      exposure:
        include: "*"
        exclude:
#         `include`?? ?? ?? ??
#          - health
#          - beans
      cors:
        allowed-origins: http://sample1.com, http://sample2.com
# info endpoint ??
  info:
    env:
      enabled: true
    git:
      enabled: true
#     ?? ???? ?? ????
      mode: full
    build:
      enabled: true
    os:
      enabled: true

# info endpoint ???? ?? (gradle ?? ${xxx.xxx} ??)
info:
  my-app:
    any-value: someValue
    group-id: "@project.groupId@"
    artifact-id: "@project.artifactId@"